<div id="footer" class="footer">

  <div class="icons">
 
      <a href="https://twitter.com/SinghTanmaydeep" ><i class="fab fa-twitter fa-2x"></i><span class="label"></span></a>
      <a href="https://www.linkedin.com/in/tanmaydeep-singh" ><i class="fab fa-linkedin fa-2x"></i><span class="label"></span></a>
      <a href="https://www.instagram.com/tanmayyy.deep/" ><i class="fab fa-instagram fa-2x"></i><span class="label"></span></a>
      <a href="https://github.com/tanmaydeep-singh" ><i class="fab fa-github fa-2x"></i><span class="label"></span></a>
      <!-- <li><a href="#" ><i class="fab fa-"></i> <span class="label"> Leetcode</span></a></li> -->


  </div>

  <!-- <h4>©Tanmaydeep 2022</h4> -->
  <p>©Tanmaydeep 2022</p>






</div>









<script type="module" src="main.js"></script>

  <!--  -->
  <script type="module" src="../../public/main.js"></script>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
    <script src="/scrypt.js"></script>

  

</body>
</html>