<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanmaydeep Singh</title>
    <script src="https://cdn.tailwindcss.com"></script>

  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Font-Awesome -->
  <script src="https://kit.fontawesome.com/c958f2dd0d.js" crossorigin="anonymous"></script>
     
  <!-- CSS -->
   <link rel="stylesheet" href="/style.css">
  
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="Favicon.png">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nunito+Sans:wght@200&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">


  <script type="importmap">
    {
        "imports": {
            "three": "./build/three.module.js"
        }
    }
</script> 



  </head>
<body>
  <nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href='/'>Home</a></li>
            <li><a href=/about>About</a></li>
            <li><a href=/projects>Projects</a></li>
            <li><a href=/blog>Blogs</a></li>
           
        </ul>
        <img class="logo avatar" src="../Favicon.png"/>
    </div>
</nav>












