<div class="items">
  <div class="item active">
    <img src="https://picsum.photos/200/300">
    <div class="centered-text"> <h1> <a>Click</a></h1> </div> 
    
  </div>
  <div class=" item next link-container">
    <img src="https://picsum.photos/200/300">
    <div class="centered-text"> <h1> <a>Click</a></h1> </div>
  </div>
  <div class="item link-container">
    <img src="https://picsum.photos/200/300">
    <div class="centered-text"> <h1> <a>Click</a></h1> </div>
  </div>
  <div class="item link-container">
    <img src="https://picsum.photos/200/300">
    <div class="centered-text"> <h1> <a>Click</a></h1> </div> </div>
  <div class="item prev link-container">
    <img src="https://picsum.photos/200/300">
    <div class="centered-text"> <h1> <a>Click</a></h1> </div>
  </div>
  <div class="button-container">
    <div class="button"><i class="fas fa-angle-left"></i></div>
    <div class="button"><i class="fas fa-angle-right"></i></div>
  </div>
</div>
