<div class="marquee">
  <ul class="marquee-content">
    <li>

<div class="card ">
<div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
<div class="card_title title-white">
  <h3> <a href="/">Title </a></h3>
  <p>Card Title</p>
</div>
</div>          
      </li>
    <li><i class="fab fa-codepen"></i></li>
    <li><i class="fab fa-free-code-camp"></i></li>
    <li><i class="fab fa-dev"></i></li>
    <li><i class="fab fa-react"></i></li>
    <li><i class="fab fa-vuejs"></i></li>
    <li><i class="fab fa-angular"></i></li>
    <li><i class="fab fa-node"></i></li>
    <li><i class="fab fa-wordpress"></i></li>
    <li><i class="fab fa-aws"></i></li>
    <li><i class="fab fa-docker"></i></li>
    <li><a href="https://codepen.io/team/keyframers/pen/dBVaNX"><i class="fab fa-android"></i></a></li>
  </ul>
</div>