<%- include("partials/navbar"); -%>

<section id="about">
  <!-- Basic Things About Me-->
  <div class="about-me-text">
    <h2 class="about-heading">Hello There.</h2>
    <!-- An underline to seprate from main part -->
    <h4 class="about-text" class="me">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
      exercitationem voluptatem, quas sequi expedita asperiores iusto eum, in
      dicta iste voluptatibus doloribus, vitae ea beatae ducimus! Qui dicta
      corporis laboriosam!.
    </h4>
  </div>

  <!-- Tech Stack -->
  <div>
    <h2  class="about-heading">My Tech Stack.</h2>
    <div class="about-text">

    <div class="tech-stack-slides" data-aos="fade-right" data-aos-duration="2000">
      <h1 class="h1padding">WEB DEV</h1>

     <div class="tect-stack-list" data-aos="fade-zoom-in"
     data-aos-delay="1000">
     <h2>
        HTML | CSS | JS | NODE.JS | MONGODB | TAILWIND | REACT | EXPRESS


     </h2>
     </div>



    </div>


    <div class="tech-stack-slides" data-aos="fade-right" data-aos-duration="2000">
      <h1 class="h1padding">PYTHON</h1>
      <div data-aos="fade-zoom-in"
     data-aos-delay="1000">

     <h2>TURTLE | PANDAS | FLASK | SELENIUM | SMTPLIB | NUMPY</h2>


     </div>

    </div>


    <div class="tech-stack-slides" data-aos="fade-right" data-aos-duration="2000">
        <h1 class="h1padding">C/C++</h1>
        <div data-aos="fade-zoom-in"
     data-aos-delay="1000">

     <h2>OOPS | DSA | WINDOWS.H</h2>



     </div>

    </div>
    </div>
  </div>
</section>
<!-- 
<div class="spline">
  <iframe
    src="https://my.spline.design/molang3dcopy-375ee9c8861ecb6f4317f3b232437b69/"
    frameborder="0"
    width="100%"
    height="100%"
  ></iframe>
</div> -->

<%- include("partials/footer"); -%>
