<div class="overlay" id="card">
    <!-- Overlay inner wrapper -->
    <div class="overlay__inner">
      <!-- Title -->
      <h1 class="overlay__title">
        Hey, would you like to learn how to create a
        <span class="text-gradient">generative</span> UI just like this?
      </h1>
      <!-- Description -->
      <p class="overlay__description">
        In this tutorial we will be creating a generative “orb” animation
        using pixi.js, picking some lovely random colors and pulling it all
        together in a nice frosty UI.
        <strong>We're gonna talk accessibility, too.</strong>
      </p>
      <!-- Buttons -->
      <div class="overlay__btns">
  
        <button class="overlay__btn">
          View Live
        </button>
  
      </div>
    </div>
  </div>