<%- include("partials/navbar"); -%>

<!--Head-->


  <section id="head">
    <div class="main-page">

      <div>
        
        <div class="h2p">

          <h2>Hello,<br />Tanmaydeep Singh</h2>
          <p>An engineering undergrad.</p>

        </div>
        <canvas id="sphere"> </canvas>

      </div>       

    </div>
  </section>


<%- include("partials/footer"); -%>
