<%- include("partials/navbar"); -%> <!--Adding header/footer Layouts-->

<div class="post-page"> 
    <%console.log("HELLO")%>
    <h1 class="h1post"><%= post.title%></h1>
    <p class="p1post"><%= post.content%></p>

</div>


<%- include("partials/footer"); -%> <!--Adding header/footer Layouts-->

