<%- include("partials/navbar"); -%>


<!--Head-->

<section id="project">

    <section id="project-section">
        <div class="caroucel_div">
            <%- include("components/caroucel-web"); -%>

        </div>


    </section>

    
    <section id="project-section">
        <h1 class="about-heading"> PYTHON </h1>
        <div class="caroucel_div">
            <%- include("components/caroucel-python"); -%>

        </div>       

    </section>

<%- include("partials/footer"); -%>