<%- include("partials/navbar"); -%>


<!--Head-->

<section id="project">

    <section id="project-section">
        <h1 class="about-heading"> WEB DEVELOPMENT </h1>


        <div class="box-left" data-aos="zoom-in-up"      data-aos-delay="250">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nam commodi alias autem ea neque quam ratione quo iusto odio?</div>
        <div class="box-right" data-aos="zoom-in-up"      data-aos-delay="250">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nam commodi alias autem ea neque quam ratione quo iusto odio?</div>
        <div class="box-left" data-aos="zoom-in-up"      data-aos-delay="250">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nam commodi alias autem ea neque quam ratione quo iusto odio?</div>
        <div class="box-right" data-aos="zoom-in-up"      data-aos-delay="250">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nam commodi alias autem ea neque quam ratione quo iusto odio?</div>
       

    </section>

    
    <section id="project-section">
        <h1 class="about-heading"> PYTHON </h1>

        
        <div class="box-left" data-aos="zoom-in-up"      data-aos-delay="250">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nam commodi alias autem ea neque quam ratione quo iusto odio?</div>
        <div class="box-right" data-aos="zoom-in-up"      data-aos-delay="250">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nam commodi alias autem ea neque quam ratione quo iusto odio?</div>
        <div class="box-left" data-aos="zoom-in-up"      data-aos-delay="250">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nam commodi alias autem ea neque quam ratione quo iusto odio?</div>
        <div class="box-right" data-aos="zoom-in-up"      data-aos-delay="250">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nam commodi alias autem ea neque quam ratione quo iusto odio?</div>
       

    </section>

<%- include("partials/footer"); -%>